/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */

/* Poor man normalize */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
    line-height: 1.4;
}

body {
    background-color: #b8c8b9;
    color: #000;
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.25rem;
}

p, pre {
    margin-bottom: 1rem;
}

ol, ul, dl {
    list-style-position: inside;
}

hr {
    background-color: lightgrey;
    border: none;
    height: 1px;
    margin-bottom: 1rem;
}

blockquote {
    font-style: italic;
    margin-bottom: 1rem;
    margin-left: 2rem;
}

/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
    display: none;
}

/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
    display: none;
}

/* Header */
.outer-wrap-header {
    background-color: #154918;
    color: #f8fafa;
    overflow: auto;
}

.inner-wrap-header {
    padding: 30px 0;
}

.region-header-col-1 {
    float: left;
    margin-right: 10px;
    width: 30%;
}

.region-header-col-2 {
    float: left;
    width: 60%;
}

.site-logo {
    display: none;
}

.my-navbar {
    list-style-type: none;
    padding-top: 10px;
}

.my-navbar li {
    display: inline;
    padding: 2px 10px;
}

/* Flash */
.inner-wrap-flash {
    text-align: center;
}

/* Container */
.outer-wrap {
    width: 100%;
}

.inner-wrap {
    margin: 0 auto;
    width: 80%;
}

.row::after {
    clear: both;
}

.has-sidebar-right {
    float: left;
    margin-right: 3%;
    width: 77%;
}

.has-sidebar-left {
    float: left;
    margin-left: 3%;
    width: 77%;
}

/* Navigation */
.breadcrumb-list > ul > li {
    display: inline;
    font-size: 0.8rem;
}

.breadcrumb-list > ul > li:not(:last-of-type)::after {
    content: ' > ';
}

.toc > li {
    font-size: 0.8rem;
    list-style-type: none;
    margin-bottom: 0.5rem;
}

.next-previous {
    clear: both;
}

.next-previous > div {
    float: right;
    font-size: 0.8rem;
    margin-bottom: 1rem;
    width: 50%;
}

.next {
    text-align: right;
}

/* Main */
.inner-wrap-main {
    max-width: 900px;
    padding: 30px 0;
}

.article {
    clear: both;
    margin-bottom: 1rem;
}

/* Footer */
.outer-wrap-footer {
    background-color: #154918;
    clear: both;
    color: #eaefea;
}

.inner-wrap-footer {
    padding: 30px 0;
}

.region-footer {
    column-count: 3;
    column-gap: 3rem;
    column-rule: 1px solid lightgrey;
    font-size: 0.75rem;
    margin: 0 auto;
    max-width: 900px;
}

/* Fig */
figcaption {
    font-size: 0.8rem;
    font-style: italic;
    margin-bottom: 1rem;
}

/* Blocks */
.region-sidebar-right {
    font-size: 0.9rem;
    margin-right: 0;
    width: 20%;
}

.region-sidebar-left {
    float: left;
    font-size: 0.9rem;
    margin-left: 0;
    width: 20%;
}

/* State */
.clear {
    clear: both;
}

.left {
    float: left;
    margin-right: 10px;
}

.right {
    float: right;
    margin-left: 10px;
}

a {
    color: inherit;
}
