// State
.flip {
    transform: scale(-1, 1);
}

.clear {
    clear: both;
}

.left {
    float: left;
    margin: 0;
    padding: 0;
    padding-right: 22px;
}

.right {
    float: right;
    margin: 0;
    padding: 0;
    padding-left: 22px;
}

#rm-menu.rm-clicked {
    width: 100% !important;
    height: 100% !important;
}

a.rm-button.rm-clicked .rm-button-face-2 {
    color: #9fb129;
    font-size: 1rem;
    position: absolute;
    top: 0;
    right: 0;
}

.rm-modal {
    overflow-y: hidden !important;
}
